.DS_Store

# Byte-compiled files
__pycache__/
*.pyc

# data and backups
data/*.css
data/get_data_o.py
data/data_reg.pkl
data/chile_comunas_tmp.geojson
data/*_bkp_*
user_test/
*_bkp_*
*.pdf
app_example.py
map.html
TODO